body {
  background-color: #5C6070;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#logo {
  border-radius: 50%;
  text-align: right;
}



.navbar-nebula {
  background-color: #5C6070 !important;
  color: white;
  ;
}
.navbar-nebula a {
  color: white;
}

.navbar-nebula a:hover {
  color: greenyellow;
}



.carousel-home {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  justify-content: center;
}

.bigsatellite-img {
  width: 1000px;
  height: 585px;
  object-fit: cover;
  border-style: solid;
  border-color:#C3C0C0;
  border-width: 2px;
  border-radius: 10px;
}
.careers-img {
  width: 1000px;
  height: 585px;
  object-fit: cover;
  border-style: solid;
  border-color:#C3C0C0;
  border-width: 2px;
  border-radius: 10px;
}
.lightbulb-img {
  width: 1000px;
  height: 585px;
  object-fit: cover;
  border-style: solid;
  border-color:#C3C0C0;
  border-width: 2px;
  border-radius: 10px;
}

.carousel-inner {
  width: 100%;
  display: -ms-flexbox;
}



.did-you-know {
  background-color: #C3C0C0;
  color: black;
  padding: 10px;
  width: 100%;
  height: 20vh;
  position: relative;
  display: flex;
}
.dyk-header h2 {
  
  display: flex;
  margin-left: 7;
  float: left;
  width: 60%;
  text-align: right;
  font-size: 4vw;
  position: relative;
  top: 10px;
  clear:both;

}
.dyk-maintext {
  display: flex;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: 0;
  float: right;
  width: 70%;
  text-align:left;
  font-size: 10px;
  font-size: 2vw;
  position: absolute;
  bottom: 10px;
  right: 2%;
}


.join-our-newsletter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: transparent;
}

.join-our-newsletter {
  width: 70%;
  background-color: #5C6070 !important;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-right: 8%;
  border-style:solid;
  border-radius: 10px;
}
.join-our-newsletter h1 {
  color: white;
  text-align: center;

}
.join-our-newsletter p {
  color: black;
  text-align: center;

}