body {
  background-color: #5C6070;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#logo {
  border-radius: 50%;
  text-align: right;
}



.navbar-nebula {
  background-color: #5C6070 !important;
  color: white;
  ;
}
.navbar-nebula a {
  color: white;
}

.navbar-nebula a:hover {
  color: greenyellow;
}

.starting-statement {
  max-width: 50ch;
  margin-left: 3%;
  margin-top: 5%;
}

.starting-statement p {
  color: yellowgreen;
}

.carousel-home {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  justify-content: center;
}

.bigsatellite-img {
  width: 1000px;
  height: 585px;
  object-fit: cover;
  border-style: solid;
  border-color:#C3C0C0;
  border-width: 2px;
  border-radius: 10px;
}
.careers-img {
  width: 1000px;
  height: 585px;
  object-fit: cover;
  border-style: solid;
  border-color:#C3C0C0;
  border-width: 2px;
  border-radius: 10px;
}
.lightbulb-img {
  width: 1000px;
  height: 585px;
  object-fit: cover;
  border-style: solid;
  border-color:#C3C0C0;
  border-width: 2px;
  border-radius: 10px;
}

.carousel-inner {
  width: 100%;
  display: -ms-flexbox;
}



.did-you-know {
  background-color: #C3C0C0;
  border-bottom: solid white 2px;
  border-top: solid white 2px;
  color: black;
  padding: 10px;
  width: 100%;
  /* height: 20vh; */
  position: relative;
  display: flex;
}
.dyk-header h2 {
  font-weight: bold;
  display: flex;
  margin-left: 7;
  float: left;
  width: 60%;
  text-align: right;
  font-size: 4vw;
  position: relative;
  top: 10px;
  clear:both;

}
.dyk-maintext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: 0;
  float: right;
  width: 70%;
  max-width: 70ch;
  text-align:left;
  font-size: 8px;
  font-size: 1.5vw;
  position: absolute;
  bottom: 10px;
  right: 2%;
}

.did-you-know .dotted-line {
  border-top: 15px dotted;
  width: 10%;
  height: 1vh;
  border-color: black;
  display: flex;
  margin-top: 2%;
  position: relative;
  left: 12%;
}


.join-our-newsletter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: transparent;
}

.join-our-newsletter {
  width: 70%;
  background-color: #5C6070 !important;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-right: 8%;
  border-style:solid;
  border-radius: 10px;
}
.join-our-newsletter h1 {
  color: white;
  text-align: center;

}
.join-our-newsletter p {
  color: black;
  text-align: center;
}

.footer-container {
  margin: 2%;

}
.nebula-footer {
  width: 100%;
  background-color: #3d3f4a;
  color: white !important;
  height: 10%;
  padding: 10px;
  margin-top: 50%;
}





.nebula-form {
  display: flex;
  margin: 20px;
  width: 100%;
  height: auto;
  justify-content: center;
}
.nebula-form .nebula-form-container {
  color: black;
  width: 50%;
  height: auto;
  background-color: white;
  border-style: solid;
  border-color:#3d3f4a;
  border-width: 20px;
  border-radius: 5px;
  padding: 2%;
}
.nebula-submit-button {
  display: flex !important;
  justify-content: right;
  margin-top: 10%;
  background-color: rgb(117, 154, 61) !important;
  border-color:rgb(117, 154, 61) !important;
}
#get-connected {
  font-weight: bold;
  margin-left: 27%;
}
#get-connected-text {
  margin-left: 27%;
  color: yellowgreen;
}