.sigmar-regular {
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-usage {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



body {
  font-family: 'Sigmar', serif;
  font-weight: 400px;
  font-style: normal;
  height: auto;

  background-color: rgb(247, 228, 233);
}

p {
  font-family: "Raleway", serif !important;
  text-align: center;
}
h1 {
  text-align: center;
}
button {
  font-family: 'Sigmar Static', bold;
}
input:focus {

  outline: none;
  border: none;
  border-bottom: 3px solid #ff4500;

}




.header-container {
  background-color: rgb(244, 135, 153);
  color: white;
  border-radius: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-left: 50px;
  margin-top: 50px;
  
}

.form-control {
  display: flex;
  margin-bottom: 10px;
  width: 50%;
  padding: 15px;



  border: none;
  border-bottom: 3px solid black;
  background-color: transparent transparent;


  font-family:'Raleway', serif;
  font-size: 20px;

  transition: all 0.5s ease;
}
.form-control::placeholder {
  color: gray;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.getData {
  height: 50%;
  width: auto;
  position: relative;
  

  font-family: 'Sigmar', serif;
  font-weight: 400px;
  font-style: normal;
  text-align: left;
  padding: 0px;
  font-size: 15px;



  background-color: transparent !important;
  border: none;

  
}
.getData:after {
  content:"";
  width: 125%;
  height: 15px;
  background-image: url(images/underline.svg);
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: -4px;
  left: -3px;
}
.getData:hover {
  color:rgb(244, 135, 153);
}
.getData:active {
  color: #FF00FF;
}



.return-to-top {
  display: none; 

  height: auto;
  width: auto;
  position: fixed;
  bottom:20px;
  right: 20px;
  padding: 10px 20px;

  

  font-family: 'Sigmar', serif;
  font-weight: 400px;
  font-style: normal;
  text-align: left;
 
  font-size: 15px;



  background-color: transparent !important;
  border: none;
}
.return-to-top:after {
  content:"";
  width: 100%;
  height: 15px;
  background-image: url(images/underline.svg);
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: -4px;
  left: -3px;
}

.return-to-top:hover {
  color:rgb(244, 135, 153);
}
.return-to-top:active {
  color: #FF00FF;
}


@media (max-width: 768px) {
  .gif-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .gif-container img {
    width: 100% !important;
    max-width: 400px;
    transition: transform .30s ease;
  }
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.gif-container img {
  width: 20%;
  height: auto;
  object-fit: cover;

  border-radius: 20px;
  transition: transform .30s ease;
}

.gif-container img:hover {
  transform: scale(1.05);
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;


  background-color: rgba(245, 177, 188, 0.53);


  z-index: 1000;
}



.flowers-img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;


  gap: 15px;
}

.three-flowers-img {

  bottom: 3;
  left: 50%;

  height: 50px;

}
.flowers-img {

  bottom: 3;
  left: 50%;

  height: 45px;
}
.single-flower-img {

  bottom: 3;
  left: 70%;

  height: 35px;

}

.stars-img-container {
  display: flex;
  flex-direction: row;
  justify-content: top right;
  align-items: end;
}

.stars {
  bottom: 0;
  left: 100%;
  margin-right: 10px;

  height: 30px;
}